/* botone informazione*/

.primaryBtn {
  display: inline-block;
  padding: 7px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #19C5F8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  min-width: 50%;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: #0479A3;
color: #ffffff;
}