*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #d3d6d9;
    color: #222;
}

.HotelList{
    width: 90vw;
    max-width: 117opx;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    
}

@media screen and (min-width: 768px){

    .HotelList{
        grid-template-columns: repeat(3, 1fr);
      
    }
}
.Hotel{
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.Hotel img{
    width: 100%;
    object-fit: cover;


}

.Hotel h3{
    margin-top: 1rem;
    font-size: 1rem; 
}

.Hotel button{

    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    background-color: #efba7d;
    color: #050505;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*NAVIGATION BAR*/

.navbar {
    background-color: #d12828;
    padding: 10px;
  }
  
  .navbar {
    background-color: #783e3e;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #000;
  }
  